
  <ul class="nav nav-tabs" id="myTab" role="tablist" style="justify-content: center;">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#persona" role="tab" aria-controls="persona" aria-selected="true">Persona</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#egresado" role="tab" aria-controls="egresado" aria-selected="false">Egresado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#formacion" role="tab" aria-controls="formacion" aria-selected="false">Formaciones Basicas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#capacitaciones" role="tab" aria-controls="capacitaciones" aria-selected="false">Capacitaciones</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#empresas" role="tab" aria-controls="empresas" aria-selected="false">Empresas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#laborales" role="tab" aria-controls="laborales" aria-selected="false">Exp. Laborales</a>
      </li>
    </ul>
  <div class="tab-content">
    <div id="persona" class="tab-pane collapse in active">
      <h3>HOME</h3>
      <app-persona></app-persona>
    </div>
    <div id="egresado" class="tab-pane fade">
      <app-egresado></app-egresado>  
    </div>
    <div id="formacion" class="tab-pane fade">
     <app-formaciones></app-formaciones>
    </div>
    <div id="capacitaciones" class="tab-pane fade">
      <app-capacitaciones></app-capacitaciones>
    </div>
    <div id="empresas" class="tab-pane fade">
      <app-empresas></app-empresas>
    </div>
    <div id="laborales" class="tab-pane fade">
      <app-experiencia></app-experiencia>
    </div>
  </div>

