.left{
    float: left;
}
.right{
    float: right;
}
li {
    padding: 10px 15px;
    margin: 1px 1px;
    align-items: center;
}
.face img{
    width: 25%;
}
#perfil{
    margin-top: auto;
}
#foto{
    background-color: #772953;
}

