<div >
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header" *ngIf="list">
              <!-- 
<img src='https://serve-ecom.herokuapp.com/uploads/avatars/{{list.avatar}}' alt="img user" style="width: 150px; height: 150px; border-radius: 50%;  display: block;
                margin: auto;" data-toggle="modal" data-target="#Usuario" (click)="userProfile(list.user_ID);">
              -->  
                <div style="text-align: center;">
                    {{list.ap_paterno}} {{list.ap_materno}} <br>
                    {{list.nombre}}
                </div>
            </div>
            <ul class="list-unstyled components"> 
                <li class="nav-item">
                    <a class="nav-link" href="#" *ngIf="loggedIn"  routerLink="/"  routerLinkActive="active" > <i class="fa fa-home"></i>  Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" *ngIf="loggedIn"   routerLink="/persona" routerLinkActive="active">Persona</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#" *ngIf="loggedIn"   routerLink="/eventos" routerLinkActive="active">Eventos</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#" *ngIf="loggedIn"   routerLink="/facultades" routerLinkActive="active">Facultades</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#" *ngIf="loggedIn"   routerLink="/egresado" routerLinkActive="active">Egresado</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#" *ngIf="loggedIn"   routerLink="/egresadoform" routerLinkActive="active">EgresadoForm</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#" *ngIf="loggedIn"   routerLink="/sugerencias" routerLinkActive="active">Segurencias</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#" *ngIf="loggedIn"   routerLink="/perfilegresados" routerLinkActive="active">Perfil Egresado</a>
                </li>
                 <li class="nav-item">
                        <a class="nav-link" href="#" *ngIf="loggedIn"   routerLink="/empresas" routerLinkActive="active">Empresas</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#" *ngIf="loggedIn"   routerLink="/capacitaciones" routerLinkActive="active">Capacitaciones</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#" *ngIf="loggedIn"   routerLink="/capacitacionesfrom" routerLinkActive="active">CapacitacionesForm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" *ngIf="loggedIn"   (click)="logout($event)" >Logout</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Page</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">page1</a>
                        </li>
                        <li>
                            <a href="#">page2</a>
                        </li>
                        <li>
                            <a href="#">page3</a>
                        </li>
                    </ul> 
                </li>
            </ul>
            
        </nav>
    
    </div>
</div>
<div class="modal fade" id="Usuario">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Facultad</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <h2>UPDATE USER IMAGE</h2>
            <div>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
                <input type="file" #fileupload [(ngModel)]="myFile" name="myFile" (change)="fileEvent($event)"/>
                <button>Upload Image</button>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
        </div>
        
        </div>
    </div>
</div>
      