<div class="row ">
  <div class="m-auto">
      <h2>
          GESTION DE LA UNIVERSIDAD
      </h2>
  </div>
</div>
<div class="row">
<h2 class="m-auto">Facultades</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Facultad">Agregar Facultad</button>
<table class="table table-light" >
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Acronimo</th>
            <th colspan="1">Escuelas</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody *ngFor="let d of list; index as i">
        <tr *ngIf="d.dependiente == null ">
            <td >{{i+1}}</td>
            <td>{{d.nombre}}</td>
            <td>{{d.acronimo}}</td>
            <td>
                <button class="button-red" class="form-control alert-success"id="ad" data-toggle="modal" data-target="#Escuelas" (click)="id(d.id);">Agregar</button>
            </td>
            <td > 
                <div class="row" id="ad">
                    <button class="button-red" class="form-control alert-warning"id="ad" (click)="updateFacultad(d.id)" data-toggle="modal" data-target="#Facultad">Edit</button>
                </div>
                
            </td>
            <td>
              <div class="row">
                <button class="button-red" class="form-control alert-danger" id="ad" (click)="delete(d.id)" >Delete</button>
        </div>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div class="modal fade" id="Facultad">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Facultad</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <form [formGroup]="facultadForm" >
                <div class="row">
                    <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Nombre:</div>
                    <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
                            <input type="text" formControlName="nombre" required id="nombre" name="nombre" class="form-control">
                            <div [hidden]="facultadForm.get('nombre').valid || 
                            facultadForm.get('nombre').pristine" class="alert alert-danger">
                            El Nombre es importante
                            </div>
                    </div>
                    <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Acronimo:</div>
                    <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
                            <input type="text" formControlName="acronimo" acronimo="acronimo" name="acronimo" class="form-control" maxlength="8">
                            <div [hidden]="facultadForm.get('acronimo').valid || 
                            facultadForm.get('acronimo').pristine" class="alert alert-danger">
                            El Acronimo es importante
                            </div>
                    </div>
            </div>
            
            </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="submit" [disabled]="!facultadForm.valid" class="form-control alert-success" (click)= "saveFacultad()" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="borrar()">Close</button>
        </div>
        
      </div>
    </div>
</div>

<app-escuelas [ID] ="ID"></app-escuelas>